body{
    background-color: #F8F8F8;
}
header{
    width: 1200px;
    height: 130px;
    margin: 0 auto;
}
/* .logo图片 */
header .logo{
    height: 100%;
}
header .logo-img{
    width: 159px;
    height: 57px;
    padding-top: 38px;
}
header .logo-img{
    display: block;
    width: 159px;
    height: 57px;
}
header .logo-img img{
    width: 100%;
}
/* logo标题图 */
header .logo-title{
    width: 258px;
    height: 70px;
    padding: 35px 0 0 12px;
}
header .logo-title img{
    width: 100%;
}
/* 转到登录处 */
header .href{
    height: 100%;
    color: #8c8c8c;
    line-height: 130px;
}
header .href a{
    color: #f42424;
}
header .href a:hover{
    text-decoration: underline;
    text-decoration-color: #f42424;
}

/* 内容区 */
main{
    width: 1200px;
    height: 565px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: #fff;

}

.resiger{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    box-sizing: border-box;
}
/* 广告 */
.resiger .ad{
    width: 500px;
    height: 100%;
    padding: 110px 50px;
    box-sizing: border-box;
}
.resiger .ad a{
    width: 100%;
    height: 100%;
    display: block;
}
.resiger .ad a img{
    width: 100%;
}

/* 注册表单 */
.resiger-form{
    width: 600px;
    padding-top: 38px;
}
.resiger-form label{
    float: left;
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    position: relative;
}

/* 注释 */
.resiger-form label span{
    float: left;
    width: 136px;
    height: 30px;
    font-size: 16px;
    color: #8c8c8c;
    line-height: 40px;
    padding-right: 24px;
    text-align: right;
}
/* 输入框 */
.resiger-form label input{
    border: 1px solid #ccc;
    height: 38px;
    padding: 5px 10px;
    width: 320px;
    box-sizing: border-box;
}
/* 获取验证码和信息的框 */
.resiger-form label .check,.resiger-form label .getInfor{
    width: 80px;
    height: 34px;
    margin-top: 2px;
    position: absolute;
    right: 122px;
    line-height: 34px;
    cursor: pointer;
    padding: 0;
    text-align: center;
}
/* 验证码 */
.resiger-form label .check{
    background-color: skyblue;
}
/* 短信 */
.resiger-form label .getInfor{
    background-color: #eee;
    font-size: 12px;
}
.resiger-form label .getInfor:hover{
    color: #f42424;
}

/* 条款同意 */
.resiger-form form .agree{
    width: 320px;
    height: 20px;
    color: #555;
    cursor: pointer;
}
.resiger-form form .agree a{
    color: #438cde;
}
.resiger-form form .agree a:hover{
    color: #f42424;
}
.resiger-form form .agree .iconfont{
    color: #f42424;
    font-size: 12px;
    margin-right: 8px;
}
.resiger-form form .agree .checkNull{
    font-size: 16px;
    margin-right: 4px;
    color: #999;
}
#submit{
    width: 320px;
    height: 38px;
    background-color: #f42424;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.resiger-form label .mask{
    display: none;
    position: absolute;
    width: 320px;
    height: 38px;
    top: 0;
    left: 160px;
    background-color: #fff;
    opacity: 0.3;
    cursor: pointer;
}
#submit:hover .mask{
    display: block;
}

footer{
    width: 1200px;
    height: 55px;
    margin: 0 auto;
    padding: 30px 0;
}
footer div{
    color: rgba(85, 85, 85, .5);
    text-align: center;
}
footer div:last-child{
    margin-top: 15px;
}